<a href="{{ path("history_new_person") }}">    
    Ajouter des points
</a>
<br>
<a href="{{ path("history_suggestions") }}">    
    Suggestions utilisateurs
</a>
<br>
<a href="{{ path("history_thematiques") }}">    
    Thématiques
</a>
<br>
<a href="{{ path("history_logout") }}">    
    Déconnexion
</a>

