<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>Hist Map</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Font awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        
        {% stylesheets
                "@HistoryBundle/Resources/css/global.css"
        %}<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Hist Map est une carte historique collaborative référençant les personnalités par événements et dates."/>
        
        <meta name="keywords" content="carte, historique, collaboratif, personnage, histoire, evenement">
        <meta name="contact" content="berkani.lyes@gmail.com" />

        <meta property="og:title" content="Hist Map" >
        <meta property="og:url" content="http://histmap.fr">
        <meta property="og:type" content="website" >
        <meta property="og:image" content="/public/personne/0987654321.jpg">
        
        <script src="/markerclusterer/markerclusterer.js"></script>
    </head>
    <body>
        <div class="wrapper">
            
            {% block content %}{% endblock %}
            
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-24743720-3', 'auto');
                ga('send', 'pageview');
            </script>
            <script>
                setTimeout(function(){
                    $.getScript("/oms/oms.min.js", function(){
                    });
                }, 500);
            </script>

            {% javascripts 
                '@HistoryBundle/Resources/js/global.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        </div>  
    </body>
</html>