<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>Hist Map</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Font awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        
        {% stylesheets
                "@HistoryBundle/Resources/css/global.css"
        %}<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="Hist Map est une carte historique collaborative référençant les personnalités par événements et dates."/>
        
        <meta name="keywords" content="carte, historique, collaboratif, personnage, histoire, evenement">
        <meta name="contact" content="berkani.lyes@gmail.com" />

        <meta property="og:title" content="Hist Map" >
        <meta property="og:url" content="http://histmap.lyesberkani.com">
        <meta property="og:type" content="website" >
        <meta property="og:image" content="/public/personne/0987654321.jpg">
        
        <script src="markerclusterer/markerclusterer.js"></script>
    </head>
    <body>
        <div class="wrapper">