<form method="post" class="suggestion-form">
    <div class="suggestion-subwrapper">

        <div class="suggestion-title">
            Suggérer un événement
        </div>
        
        <div class="suggestion-close-button">
            <i class="arrow-suggestion fa fa-angle-double-right"></i>
        </div>
    </div>
</form>