.link-list-admin{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 40px;
}

.link-element-admin{
    padding: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 5px 10px 5px 0;
}

.link-list-img{
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.link-list-img img{
    width: 100%;
}

.wrapper{
    height: auto;
}

.admin-link-create{
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

.suggestion-images{
    width: 500px;
    height: 350px;
    background: #fff;
    overflow: scroll;
}

.suggestion-images a{
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
}

.suggestion-images img{
    width: 100%;
}

.label-highlight{
    background: #ffeb3b;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 5px;
}

.list-persons{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    height: 480px;
    overflow: scroll;
    padding: 20px;
    position: absolute;
    right: 90px;
    top: 168px;
    width: 70%;
    resize: both;
}

.list-persons img{
    width: 75px;
}

.list-persons li{
    list-style: none;
    display: inline-block;
    background: #fefefe;
    border: 1px solid #eee;
    margin-right: 20px;
    padding: 10px;
}

#list-persons{
    position: fixed;
}

#submit-thematique{
    position: fixed;
    left: 385px;
    bottom: 20px;
    z-index: 20;
}