{% extends "HistoryBundle:History:front/base.html.twig" %}

{% block content %}

    <div class="about-div">
    <h1 class="about-title">
        À propos
    </h1>
    <p class="about-paragraph">
        <strong>Hist Map</strong> est un projet de <strong>carte historique collaborative</strong> regroupant des personnalités historiques connues selon des événements où elles étaient présentes 
        (Naissance, décès, bataille, révolution, découverte).
    </p>
    <p class="about-paragraph">
        Du fait de notre ignorance concernant certains événements, leurs dates peuvent être approximatives ou sujettes à débat. Certaines personnalités dont l'existence n'est 
        pas certaine ou attestées sont aussi présentes sur la carte.
    </p>
    <p class="about-paragraph">
        Pour rapporter un bug sur le site, proposer une évolution, suggérer des catégories d'événements et d'autres filtres. Vous pouvez contacter l'auteur du site à l'adresse
        <b>
            berkani.lyes@gmail.com
        </b>
    </p>
    
    <a href='{{ path("history_homepage") }}'>
        <i class="fa fa-arrow-left"></i> Retour à l'accuel
    </a>
</div>

{% endblock %}