<div class="about-open">
    <a href="{{ path('history_homepage') }}">
        <i class="fa fa-home"></i> Accueil
    </a>
    <a href="{{ path('history_suggestions') }}">
        <i class="fa fa-pencil"></i> Suggérer un événement
    </a>
    <a href="{{ path('history_about') }}">
        <i class="fa fa-address-book-o"></i> À propos d'Hist Map
    </a>
    <a href="{{ path('history_histlink') }}">
        <i class="fa fa-users"></i> Hist Link
    </a>
    <a target="_blank" href="http://lyesberkani.com">
        <i class="fa fa-address-card-o"></i> Lyesberkani.com
    </a>
</div>