{% extends "HistoryBundle:History:front/base.html.twig" %}

{% block content %}
    <div class="header">
        <div class="title-site">
            <a href="{{ path("history_histlink") }}">
                <i class="fa fa-users"></i> Hist Link
            </a>
            <span>
                Le réseau historique collaboratif
            </span>
        </div>
    </div>

    {% include "HistoryBundle:History:front/histlink-left-panel.html.twig" %}

    <div class="presentation-histlink">
        <p class="about-paragraph">
            <strong>Hist Link</strong> est un projet de <strong>réseau historique collaboratif</strong> regroupant un ensemble de personnalités historiques connues ainsi que les liens qui les unissent entre elles.
        </p>

        <div class="list-links col-md-12">
            {% for highlight in highlights %}
                <a class="link-display col-md-4" href="{{ path("history_histlink_personne", {"id": highlight.personne.id}) }}">
                    <div class="thumb-container left-thumb">
                        <img class="thumb-personne" src="/public/personne/{{ highlight.personne.ref }}.jpg">
                    </div>
                    <div class="text-link">
                        {{ highlight.personne.nom }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}