<div class="left-panel">
    <input type="text" id="get-person-input" placeholder="Rechercher une personnalité">
    <button class="btn btn-info" id="get-person-submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>

    <div class="search-results">

    </div>

    <div class="histlink-suggestion-link">
        <a href="{{ path("history_histlink_suggestion") }}"> <i class="fa fa-pencil"></i> Suggérer un lien</a>
    </div>
    <div class="histlink-link">
        <a href="{{ path("history_histlink") }}"> <i class="fa fa-users"></i> Accueil Hist Link</a>
    </div>
    <div class="histmap-link">
        <a href="{{ path("history_homepage") }}"> <i class="fa fa-globe"></i> Accueil Hist Map</a>
    </div>
</div>